header {
  display: flex;
  justify-content: center;
  top: 0;
  background-color: #4c73e3;
  width: auto;
}

.container {
  width: 1300px;
  display: flex;
  justify-content: flex-end;
}

.headerItem {
  padding: 1rem;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  font-size: 1.1rem;
}

.headerItem:hover {
  text-decoration: underline #f2c94c;
  text-decoration-thickness: 6px;
}

.active {
  background-color: #88a4f5;
}
